In [297]:
import pandas as pd

df = pd.read_csv('day1.csv')
df

                                column
0              dqfournine5four2jmlqcgv
1                       7ggzdnjxndfive
2                    twofive4threenine
3              dttwonezbgmcseven5seven
4                            5vsrcnine
..                                 ...
995                         mjljctdbg8
996                          sixthree8
997                     bbdlvtsjhjst88
998  dklhhhlpqqxlgdzzheightjntbmlfour4
999              ggrbl5cthnzlsbjssixpt

[1000 rows x 1 columns]

In [249]:
def get_number(inp_str):
    num=""
    for c in inp_str:
        if c.isdigit():
            num = num + c
    first = num[0]
    last = num[-1]
    concaten = first + last
    int_conc = int(concaten)
    
    return int_conc

In [250]:
input_list = df['column'].to_list()

list1 = []
for i in input_list:
    int_conc = get_number(i)
    list1.append(int_conc)
sum(list1)

54708

In [363]:
valid_numbers = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", 
                "1", "2", "3", "4", "5", "6", "7", "8", "9"]
position_dict = {}
example = 'dqfournine5four2jmlqcgv'

for i in range(len(valid_numbers)):
    if valid_numbers[i] in example:
        
        if valid_numbers[i] == 'one':
            position_dict["1"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'two':
            position_dict["2"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'three':
            position_dict["3"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'four':
            position_dict["4"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'five':
            position_dict["5"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'six':
            position_dict["6"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'seven':
            position_dict["7"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'eight':
            position_dict["8"] = example.find(valid_numbers[i])
        elif valid_numbers[i] == 'nine':
            position_dict["9"] = example.find(valid_numbers[i])
        else:    
            position_dict[valid_numbers[i]] = example.find(valid_numbers[i]) 
        
print(position_dict)

{'4': 2, '9': 6, '2': 15, '5': 10}

In [422]:
import re
example = 'dqfournine5four2jmlqcgv'
duplist = []
for m in re.finditer('four', example): 
    duplist.append(m.start())
    print(m.start())

2
11

In [423]:
print(duplist)

[2, 11]

In [427]:
valid_numbers = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", 
                "1", "2", "3", "4", "5", "6", "7", "8", "9"]
position_dict = {}
example = 'onedqfournine5four2onejmlqcgv'

for i in range(len(valid_numbers)):
    if valid_numbers[i] in example:
        
        if valid_numbers[i] == 'one':
            duplist = []
            for m in re.finditer("one",example):
                duplist.append(m.start())
                position_dict["1"] = duplist
        elif valid_numbers[i] == 'two':
            for m in re.finditer("two",example):
                position_dict["2"] = m.start()
        elif valid_numbers[i] == 'three':
            for m in re.finditer("three",example):
                position_dict["3"] = m.start()
        elif valid_numbers[i] == 'four':
            for m in re.finditer("four",example):
                position_dict["4"] = m.start()
        elif valid_numbers[i] == 'five':
            for m in re.finditer("five",example):
                position_dict["5"] = m.start()
        elif valid_numbers[i] == 'six':
            for m in re.finditer("six",example):
                position_dict["6"] = m.start()
        elif valid_numbers[i] == 'seven':
            for m in re.finditer("seven",example):
                position_dict["7"] = m.start()
        elif valid_numbers[i] == 'eight':
            for m in re.finditer("eight",example):
                position_dict["8"] = m.start()
        elif valid_numbers[i] == 'nine':
            for m in re.finditer("nine",example):
                position_dict["9"] = m.start()
        else:    
            position_dict[valid_numbers[i]] = example.find(valid_numbers[i]) 
        
print(position_dict)

{'1': [0, 19], '4': 14, '9': 9, '2': 18, '5': 13}

In [431]:
all_values = [value if isinstance(value, list) else [value] for value in position_dict.values()]
flattened_values = [item for sublist in all_values for item in sublist]
min_value = min(flattened_values)
max_value = max(flattened_values)
print(f"The lowest value in the dictionary is: {min_value}")
print(f"The lowest value in the dictionary is: {max_value}")

The lowest value in the dictionary is: 0
The lowest value in the dictionary is: 19

In [436]:
min_key = min(position_dict, key=lambda k: min(position_dict[k]) if isinstance(position_dict[k], list) else position_dict[k])
min_value = min(position_dict[min_key]) if isinstance(position_dict[min_key], list) else position_dict[min_key]

max_key = max(position_dict, key=lambda k: max(position_dict[k]) if isinstance(position_dict[k], list) else position_dict[k])
max_value = max(position_dict[max_key]) if isinstance(position_dict[max_key], list) else position_dict[max_key]
print(min_key)
print(max_key)

1
1

In [428]:
temp = min(position_dict.values())
first = []
for key, value in position_dict.items():
    if(value == temp):
        first.append(key)
print(str(first))

TypeError: '<' not supported between instances of 'int' and 'list'

In [426]:
temp = max(position_dict.values())
last = []
for key, value in position_dict.items():
    if(value == temp):
        last.append(key)
print(str(last))

TypeError: '>' not supported between instances of 'int' and 'list'

In [394]:
concaten = first + last
full_number = concaten[0] + concaten[1]
full_number_int = int(full_number)

In [395]:
full_number_int

27

In [388]:
def get_number2(inp_str):
    valid_numbers = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", 
                "1", "2", "3", "4", "5", "6", "7", "8", "9"]
    position_dict = {}

    
    for i in range(len(valid_numbers)):
        if valid_numbers[i] in inp_str:
        
            if valid_numbers[i] == 'one':
                for m in re.finditer("one",inp_str):
                    position_dict["1"] = m.start()
            elif valid_numbers[i] == 'two':
                for m in re.finditer("two",inp_str):
                    position_dict["2"] = m.start()
            elif valid_numbers[i] == 'three':
                for m in re.finditer("three",inp_str):
                    position_dict["3"] = m.start()
            elif valid_numbers[i] == 'four':
                for m in re.finditer("four",inp_str):
                    position_dict["4"] = m.start()
            elif valid_numbers[i] == 'five':
                for m in re.finditer("five",inp_str):
                    position_dict["5"] = m.start()
            elif valid_numbers[i] == 'six':
                for m in re.finditer("six",inp_str):
                    position_dict["6"] = m.start()
            elif valid_numbers[i] == 'seven':
                for m in re.finditer("seven",inp_str):
                    position_dict["7"] = m.start()
            elif valid_numbers[i] == 'eight':
                for m in re.finditer("eight",inp_str):
                    position_dict["8"] = m.start()
            elif valid_numbers[i] == 'nine':
                for m in re.finditer("nine",inp_str):
                    position_dict["9"] = m.start()
            else:    
                position_dict[valid_numbers[i]] = example.find(valid_numbers[i]) 
        
    temp = min(position_dict.values())
    first = []
    for key, value in position_dict.items():
        if(value == temp):
            first.append(key)
    
    temp = max(position_dict.values())
    last = []
    for key, value in position_dict.items():
        if(value == temp):
            last.append(key)
            
    concaten = first + last
    full_number = concaten[0] + concaten[1]
    full_number_int = int(full_number)
    
    
    return full_number_int

In [389]:
input_list = df['column'].to_list()

list1 = []
for i in input_list:
    int_conc = get_number2(i)
    list1.append(int_conc)
sum(list1)

48715

In [390]:
list1

[25,
 75,
 29,
 57,
 59,
 59,
 19,
 53,
 15,
 85,
 76,
 71,
 12,
 83,
 44,
 67,
 59,
 68,
 28,
 26,
 11,
 23,
 96,
 94,
 13,
 68,
 81,
 78,
 71,
 69,
 56,
 32,
 71,
 13,
 33,
 12,
 82,
 87,
 18,
 77,
 13,
 13,
 68,
 12,
 33,
 35,
 91,
 17,
 25,
 86,
 19,
 56,
 35,
 34,
 12,
 26,
 26,
 85,
 17,
 43,
 58,
 92,
 58,
 55,
 35,
 52,
 91,
 85,
 61,
 31,
 92,
 38,
 93,
 16,
 19,
 39,
 98,
 13,
 17,
 13,
 42,
 59,
 81,
 74,
 69,
 36,
 48,
 38,
 44,
 98,
 49,
 34,
 99,
 26,
 97,
 57,
 33,
 28,
 79,
 23,
 88,
 37,
 85,
 66,
 39,
 33,
 17,
 84,
 26,
 38,
 56,
 19,
 82,
 37,
 22,
 13,
 72,
 96,
 22,
 94,
 65,
 35,
 21,
 23,
 85,
 13,
 77,
 28,
 32,
 19,
 73,
 68,
 62,
 36,
 56,
 34,
 58,
 27,
 69,
 25,
 27,
 75,
 31,
 58,
 67,
 33,
 19,
 12,
 68,
 18,
 88,
 24,
 61,
 13,
 56,
 12,
 89,
 59,
 78,
 34,
 16,
 69,
 91,
 42,
 64,
 94,
 62,
 57,
 52,
 71,
 82,
 67,
 94,
 69,
 39,
 16,
 82,
 56,
 36,
 23,
 55,
 62,
 57,
 84,
 39,
 67,
 12,
 92,
 79,
 77,
 31,
 14,
 54,
 14,
 99,
 55,
 71,
 76,
 96,
 66,
 15,
 19,
 95,
 73,
 26,
 68,
 16,
 47,
 79,
 21,
 16,
 15,
 17,
 37,
 33,
 18,
 79,
 23,
 64,
 85,
 32,
 25,
 38,
 56,
 96,
 59,
 11,
 53,
 27,
 51,
 36,
 27,
 77,
 36,
 65,
 75,
 31,
 28,
 67,
 92,
 38,
 66,
 98,
 56,
 53,
 91,
 58,
 58,
 56,
 78,
 13,
 89,
 58,
 31,
 95,
 36,
 89,
 52,
 56,
 51,
 34,
 29,
 88,
 59,
 18,
 85,
 16,
 59,
 67,
 12,
 69,
 22,
 93,
 74,
 36,
 69,
 38,
 68,
 39,
 33,
 85,
 67,
 87,
 23,
 36,
 11,
 44,
 37,
 17,
 13,
 74,
 88,
 22,
 25,
 75,
 67,
 17,
 37,
 93,
 57,
 55,
 11,
 91,
 87,
 89,
 79,
 84,
 81,
 81,
 81,
 32,
 54,
 69,
 27,
 63,
 62,
 67,
 69,
 18,
 78,
 78,
 97,
 15,
 12,
 18,
 89,
 23,
 63,
 13,
 94,
 13,
 31,
 63,
 77,
 85,
 69,
 34,
 87,
 35,
 69,
 25,
 86,
 13,
 51,
 79,
 23,
 61,
 51,
 28,
 76,
 56,
 18,
 36,
 56,
 89,
 68,
 35,
 54,
 13,
 26,
 11,
 23,
 17,
 69,
 35,
 51,
 17,
 88,
 82,
 31,
 56,
 58,
 37,
 12,
 65,
 39,
 16,
 17,
 54,
 13,
 59,
 27,
 27,
 26,
 25,
 12,
 78,
 61,
 53,
 68,
 78,
 33,
 34,
 17,
 79,
 23,
 67,
 58,
 56,
 15,
 35,
 57,
 35,
 58,
 23,
 11,
 93,
 56,
 94,
 24,
 88,
 34,
 89,
 69,
 13,
 26,
 66,
 38,
 17,
 36,
 69,
 25,
 11,
 13,
 33,
 67,
 17,
 99,
 18,
 52,
 12,
 26,
 61,
 18,
 54,
 12,
 27,
 37,
 17,
 58,
 44,
 19,
 23,
 79,
 68,
 26,
 36,
 82,
 39,
 81,
 65,
 71,
 59,
 82,
 79,
 12,
 13,
 69,
 75,
 16,
 23,
 93,
 15,
 76,
 26,
 95,
 67,
 99,
 98,
 82,
 55,
 38,
 15,
 68,
 35,
 59,
 39,
 38,
 78,
 61,
 19,
 88,
 56,
 13,
 28,
 29,
 61,
 58,
 26,
 19,
 29,
 14,
 23,
 72,
 34,
 49,
 88,
 51,
 18,
 11,
 66,
 27,
 35,
 64,
 25,
 23,
 37,
 96,
 58,
 57,
 96,
 19,
 69,
 67,
 34,
 86,
 15,
 38,
 78,
 23,
 69,
 95,
 76,
 19,
 34,
 34,
 72,
 14,
 69,
 39,
 83,
 35,
 93,
 39,
 93,
 67,
 56,
 22,
 82,
 89,
 75,
 19,
 68,
 21,
 26,
 15,
 12,
 15,
 81,
 96,
 84,
 16,
 12,
 73,
 38,
 53,
 26,
 27,
 51,
 39,
 95,
 24,
 78,
 32,
 88,
 73,
 79,
 63,
 95,
 66,
 56,
 31,
 84,
 36,
 37,
 57,
 58,
 43,
 47,
 87,
 24,
 91,
 37,
 16,
 27,
 44,
 31,
 91,
 35,
 66,
 98,
 53,
 36,
 84,
 25,
 33,
 23,
 32,
 59,
 12,
 34,
 38,
 35,
 54,
 44,
 74,
 36,
 57,
 84,
 14,
 69,
 15,
 74,
 82,
 68,
 39,
 25,
 18,
 95,
 72,
 34,
 79,
 11,
 16,
 91,
 21,
 77,
 55,
 44,
 39,
 25,
 31,
 72,
 18,
 16,
 35,
 74,
 13,
 57,
 94,
 56,
 38,
 25,
 15,
 19,
 56,
 34,
 13,
 75,
 46,
 79,
 59,
 62,
 76,
 24,
 35,
 25,
 12,
 55,
 32,
 62,
 67,
 14,
 68,
 61,
 28,
 57,
 25,
 66,
 16,
 22,
 58,
 76,
 33,
 52,
 11,
 39,
 16,
 12,
 36,
 92,
 15,
 74,
 89,
 13,
 62,
 17,
 12,
 95,
 24,
 36,
 84,
 81,
 27,
 13,
 92,
 56,
 16,
 16,
 32,
 56,
 57,
 69,
 15,
 35,
 91,
 38,
 68,
 26,
 92,
 17,
 34,
 11,
 81,
 35,
 81,
 15,
 67,
 25,
 36,
 39,
 25,
 21,
 26,
 27,
 15,
 58,
 12,
 85,
 16,
 25,
 84,
 13,
 83,
 93,
 54,
 21,
 89,
 26,
 28,
 12,
 75,
 38,
 23,
 75,
 25,
 53,
 26,
 36,
 62,
 12,
 39,
 73,
 98,
 95,
 15,
 79,
 86,
 18,
 35,
 18,
 96,
 58,
 19,
 59,
 28,
 18,
 31,
 64,
 99,
 16,
 25,
 71,
 19,
 82,
 18,
 39,
 12,
 57,
 13,
 25,
 47,
 84,
 79,
 51,
 11,
 73,
 38,
 26,
 36,
 18,
 97,
 16,
 47,
 71,
 83,
 13,
 14,
 58,
 55,
 75,
 67,
 77,
 58,
 34,
 19,
 68,
 15,
 87,
 92,
 83,
 39,
 57,
 87,
 94,
 67,
 79,
 16,
 29,
 12,
 36,
 26,
 35,
 33,
 52,
 58,
 29,
 53,
 91,
 63,
 31,
 22,
 15,
 35,
 52,
 51,
 92,
 19,
 25,
 53,
 39,
 15,
 78,
 83,
 12,
 24,
 73,
 59,
 16,
 27,
 65,
 12,
 99,
 15,
 26,
 35,
 95,
 95,
 99,
 23,
 66,
 35,
 56,
 36,
 23,
 13,
 13,
 62,
 13,
 19,
 27,
 78,
 14,
 57,
 27,
 67,
 69,
 13,
 24,
 28,
 92,
 47,
 61,
 63,
 28,
 24,
 16,
 69,
 15,
 25,
 38,
 23,
 68,
 64,
 91,
 38,
 25,
 19,
 23,
 37,
 16,
 89,
 92,
 57,
 12,
 52,
 27,
 66,
 51,
 23,
 19,
 38,
 23,
 13,
 68,
 72,
 57,
 42,
 57,
 34,
 17,
 18,
 36,
 26,
 92,
 25,
 57,
 26,
 14,
 81,
 57,
 13,
 19,
 94,
 12,
 57,
 62,
 91,
 57,
 83,
 67,
 13,
 67,
 33,
 26,
 58,
 54,
 66,
 38,
 65,
 62,
 13,
 92,
 73,
 15,
 28,
 66,
 72,
 55,
 98,
 88,
 99,
 24,
 28,
 24,
 28,
 65,
 28,
 61,
 36,
 26,
 25,
 11,
 97,
 36,
 38,
 71,
 26,
 75,
 25,
 12,
 56,
 17,
 98,
 34,
 26,
 12,
 12,
 65,
 81,
 96,
 39,
 23,
 65,
 87,
 88,
 83,
 88,
 48,
 56]

In [304]:
df2 = pd.read_csv('part2.csv')
df2

             column
0          two1nine
1      eightwothree
2   abcone2threexyz
3       xtwone3four
4  4nineeightseven2
5       zoneight234
6     7pqrstsixteen

In [305]:
input_list = df2['column'].to_list()

list1 = []
for i in input_list:
    int_conc = get_number2(i)
    list1.append(int_conc)
sum(list1)

279

In [306]:
list1

[19, 83, 23, 31, 24, 23, 76]