In [1]:
import pandas as pd

df = pd.read_csv('day1.csv')
df

                                column
0              dqfournine5four2jmlqcgv
1                       7ggzdnjxndfive
2                    twofive4threenine
3              dttwonezbgmcseven5seven
4                            5vsrcnine
..                                 ...
995                         mjljctdbg8
996                          sixthree8
997                     bbdlvtsjhjst88
998  dklhhhlpqqxlgdzzheightjntbmlfour4
999              ggrbl5cthnzlsbjssixpt

[1000 rows x 1 columns]

# Part 1

In [2]:
def get_number(inp_str):
    num=""
    for c in inp_str:
        if c.isdigit():
            num = num + c
    first = num[0]
    last = num[-1]
    concaten = first + last
    int_conc = int(concaten)
    
    return int_conc

In [3]:
input_list = df['column'].to_list()

list1 = []
for i in input_list:
    int_conc = get_number(i)
    list1.append(int_conc)
sum(list1)

54708

# Part 2

In [12]:
def get_number2(inp_str):
    import re

    valid_numbers = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", 
                "1", "2", "3", "4", "5", "6", "7", "8", "9"]
    position_dict = {}

    for number in valid_numbers:
        if number in inp_str:
            occurrences = [m.start() for m in re.finditer(number, inp_str)]
            position_dict[number] = occurrences

    word_to_digit = {"one": "1", "two": "2", "three": "3", "four": "4", "five": "5",
                     "six": "6", "seven": "7", "eight": "8", "nine": "9"}

    min_key = min(position_dict, key=lambda k: min(position_dict[k], default=float('inf')))
    max_key = max(position_dict, key=lambda k: max(position_dict[k], default=float('-inf')))

    min_key_digit = word_to_digit.get(min_key, min_key)
    max_key_digit = word_to_digit.get(max_key, max_key)

    concatenated_digits = str(min_key_digit) + str(max_key_digit)

    concatenated_digits_int = int(concatenated_digits)
    return concatenated_digits

In [13]:
input_list = df['column'].to_list()

list2 = []
for i in input_list:
    int_conc = get_number2(i)
    int_conc = int(int_conc)
    list2.append(int_conc)
sum(list2)

54087