In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('day6.csv')
df

   Time  Distance
0    52       426
1    94      1374
2    75      1279
3    94      1216

### Testing algorithm on one case

In [36]:
x = 52
y = 426

winning = []

for i in range(x):
    dist = i * (x-i)
    if dist > y:
        winning.append(dist)
    
print(len(winning))

31

# Part 1

In [37]:
x = [52,94, 75, 94]
y = [426, 1374, 1279, 1216]

total_wins = 1

for i in range(len(x)):
    time = x[i]
    dist_record = y[i]
    
    wins = 0
    
    for j in range(time):
       
        dist = j * (time - j)
   
        if dist > dist_record:
            wins+=1
            
    total_wins = total_wins * wins
     
print(total_wins)

2449062

# Part 2

In [39]:
x = 52947594
y = 426137412791216

wins = []

for i in range(x):
    dist = i * (x-i)
    if dist > y:
        winning.append(dist)
    
print(len(winning))

33149631