### Part 1

In [1]:
import pandas as pd

df = pd.read_csv('day4input.csv')
df[['Card', 'Numbers']] = df['Card'].str.split(':', expand=True)
df[['Winning Numbers' , 'Numbers']] = df['Numbers'].str.split('|', expand=True)
df

,Card,Numbers,Winning Numbers
0,Card 1,45 51 86 83 53 58 64 30 67 96 41 89 8 17 33 ...,84 17 45 77 11 66 94 28 71 70
1,Card 2,61 49 59 99 77 8 79 64 36 6 3 67 4 90 83 ...,18 17 59 8 78 79 34 35 48 73
2,Card 3,2 6 89 50 11 60 57 53 71 44 47 62 49 42 73 ...,60 78 77 44 62 54 94 50 32 11
3,Card 4,21 30 53 62 74 79 54 19 45 67 7 80 16 24 89 ...,74 19 54 9 79 24 21 88 53 7
4,Card 5,55 26 12 23 74 7 58 29 45 86 5 6 93 87 14 ...,68 18 23 55 9 60 82 27 76 16
...,...,...,...
211,Card 212,67 71 65 14 42 32 75 27 60 24 8 43 68 85 4 ...,10 80 94 19 76 15 40 64 6 99
212,Card 213,16 29 34 79 99 73 9 65 76 19 43 11 35 52 37 ...,21 71 66 97 26 80 42 70 89 53
213,Card 214,27 10 59 37 40 75 95 29 30 79 57 48 44 76 15 ...,85 22 65 54 15 6 78 3 11 94
214,Card 215,29 87 6 35 20 81 15 10 71 96 77 44 55 18 98 ...,46 68 79 92 50 22 47 89 28 34
215,Card 216,70 26 63 98 86 20 59 74 3 41 34 49 78 28 55 ...,43 38 30 79 14 47 64 5 8 50

In [2]:
def get_points(df):
    total_points = 0
    
    df['Numbers'] = df['Numbers'].apply(lambda x: [int(num) for num in x.split()])
    df['Winning Numbers'] = df['Winning Numbers'].apply(lambda x: [int(num) for num in x.split()])
    
    for index, row in df.iterrows():
        numbers = set(row['Numbers'])
        winning_numbers = set(row['Winning Numbers'])
        
        matching_numbers = numbers & winning_numbers
        len_matching_numbers = len(matching_numbers)
    
        if len_matching_numbers > 0:
            card_points = 2**(len_matching_numbers-1)
        else:
            card_points = 0
            
        total_points += card_points
    
    return total_points

In [3]:
get_points(df)

23941

### Part 2