In [134]:
import pandas as pd

In [135]:
def prep_df(df):
    df[['dest_start','source_start', 'range']] = df['map:'].str.split(' ',expand=True)
    df['source_start'] = (df['source_start']).apply(lambda x: int(x))
    df['dest_start'] = (df['dest_start']).apply(lambda x: int(x))
    df['range'] = (df['range']).apply(lambda x: int(x))
    df['source_end'] = df['source_start'] + df['range']
    
    return df

# Part 1

In [136]:
seed_soil = pd.read_csv('seed_soil.csv')
prep_df(seed_soil)

,map:,dest_start,source_start,range,source_end
0,2211745924 1281207339 39747980,2211745924,1281207339,39747980,1320955319
1,3648083739 2564129012 145170114,3648083739,2564129012,145170114,2709299126
2,4171944574 2333022880 44675857,4171944574,2333022880,44675857,2377698737
3,540694760 848661020 78793182,540694760,848661020,78793182,927454202
4,256996824 588160543 260500477,256996824,588160543,260500477,848661020
5,1870557289 1804847051 174857657,1870557289,1804847051,174857657,1979704708
6,3877597859 2853012070 228980636,3877597859,2853012070,228980636,3081992706
7,1634159465 2150723562 100770342,1634159465,2150723562,100770342,2251493904
8,3793253853 2293912908 39109972,3793253853,2293912908,39109972,2333022880
9,652571990 567856215 20304328,652571990,567856215,20304328,588160543
10,2480343183 3372556760 130573730,2480343183,3372556760,130573730,3503130490
11,1831144195 528443121 39413094,1831144195,528443121,39413094,567856215
12,0 1690920197 113926854,0,1690920197,113926854,1804847051
13,3145720856 3081992706 290564054,3145720856,3081992706,290564054,3372556760
14,624623106 1979704708 27948884,624623106,1979704708,27948884,2007653592
15,3844601856 3751059243 32996003,3844601856,3751059243,32996003,3784055246
16,1260492360 1175075910 106131429,1260492360,1175075910,106131429,1281207339
17,1366623789 166330978 138490835,1366623789,166330978,138490835,304821813
18,1175000149 927454202 85492211,1175000149,927454202,85492211,1012946413
19,696570061 1596389312 94530885,696570061,1596389312,94530885,1690920197
20,2647046837 3784055246 498674019,2647046837,3784055246,498674019,4282729265
21,4216620431 2709299126 78346865,4216620431,2709299126,78346865,2787645991
22,953230443 1450000160 146389152,953230443,1450000160,146389152,1596389312
23,791100946 1012946413 162129497,791100946,1012946413,162129497,1175075910
24,1734929807 427093569 96214388,1734929807,427093569,96214388,523307957
25,672876318 403399826 23693743,672876318,403399826,23693743,427093569
26,113926854 2007653592 143069970,113926854,2007653592,143069970,2150723562
27,2045414946 0 166330978,2045414946,0,166330978,166330978
28,1099619595 328019272 75380554,1099619595,328019272,75380554,403399826
29,3832363825 4282729265 12238031,3832363825,4282729265,12238031,4294967296
30,619487942 523307957 5135164,619487942,523307957,5135164,528443121
31,517497301 304821813 23197459,517497301,304821813,23197459,328019272
32,2293912908 2377698737 186430275,2293912908,2377698737,186430275,2564129012
33,1505114624 1320955319 129044841,1505114624,1320955319,129044841,1450000160
34,2610916913 3714929319 36129924,2610916913,3714929319,36129924,3751059243
35,3436284910 3503130490 211798829,3436284910,3503130490,211798829,3714929319
36,4106578495 2787645991 65366079,4106578495,2787645991,65366079,2853012070

In [137]:
soil_fertilizer = pd.read_csv('soil_fertilizer.csv')
prep_df(soil_fertilizer)

,map:,dest_start,source_start,range,source_end
0,2733576308 471599794 76965554,2733576308,471599794,76965554,548565348
1,1171423854 1329782324 37554133,1171423854,1329782324,37554133,1367336457
2,2640052871 928987130 93523437,2640052871,928987130,93523437,1022510567
3,2015828352 548565348 204028986,2015828352,548565348,204028986,752594334
4,3562821857 3651707516 643259780,3562821857,3651707516,643259780,4294967296
5,1208977987 2596877127 12575372,1208977987,2596877127,12575372,2609452499
6,778871551 2204324824 392552303,778871551,2204324824,392552303,2596877127
7,1221553359 2609452499 201089363,1221553359,2609452499,201089363,2810541862
8,3520687457 3069361301 42134400,3520687457,3069361301,42134400,3111495701
9,4240454288 3542205804 54513008,4240454288,3542205804,54513008,3596718812
10,2219857338 1367336457 420195533,2219857338,1367336457,420195533,1787531990
11,3034988650 3111495701 430710103,3034988650,3111495701,430710103,3542205804
12,307271757 0 471599794,307271757,0,471599794,471599794
13,1422642722 2082393746 121931078,1422642722,2082393746,121931078,2204324824
14,3465698753 3596718812 54988704,3465698753,3596718812,54988704,3651707516
15,0 1022510567 307271757,0,1022510567,307271757,1329782324
16,1544573800 1787531990 294861756,1544573800,1787531990,294861756,2082393746
17,4206081637 3034988650 34372651,4206081637,3034988650,34372651,3069361301
18,1839435556 752594334 176392796,1839435556,752594334,176392796,928987130

In [138]:
fertilizer_water = pd.read_csv('fertilizer_water.csv')
prep_df(fertilizer_water)

,map:,dest_start,source_start,range,source_end
0,1807260819 3957534991 337432305,1807260819,3957534991,337432305,4294967296
1,774926879 2718324291 701236360,774926879,2718324291,701236360,3419560651
2,2351569884 1690420176 794087185,2351569884,1690420176,794087185,2484507361
3,313174888 2484507361 233816930,313174888,2484507361,233816930,2718324291
4,3145657069 541109949 949949029,3145657069,541109949,949949029,1491058978
5,546991818 313174888 227935061,546991818,313174888,227935061,541109949
6,2144693124 3750658231 206876760,2144693124,3750658231,206876760,3957534991
7,4095606098 1491058978 199361198,4095606098,1491058978,199361198,1690420176
8,1476163239 3419560651 331097580,1476163239,3419560651,331097580,3750658231

In [139]:
water_light = pd.read_csv('water_light.csv')
prep_df(water_light)

,map:,dest_start,source_start,range,source_end
0,3834982820 3688486185 202897824,3834982820,3688486185,202897824,3891384009
1,2016707141 372287565 116618935,2016707141,372287565,116618935,488906500
2,3386838019 3412408553 81116937,3386838019,3412408553,81116937,3493525490
3,1125723906 705568567 205087174,1125723906,705568567,205087174,910655741
4,4037880644 1840142480 150018623,4037880644,1840142480,150018623,1990161103
5,2359176858 4109550629 126312910,2359176858,4109550629,126312910,4235863539
6,3328178239 4050890849 58659780,3328178239,4050890849,58659780,4109550629
7,1801115923 3893484758 43944958,1801115923,3893484758,43944958,3937429716
8,1516002989 1645262885 194879595,1516002989,1645262885,194879595,1840142480
9,3501845456 488906500 216662067,3501845456,488906500,216662067,705568567
10,1373868013 2223115169 142134976,1373868013,2223115169,142134976,2365250145
11,3467954956 3641943956 33890500,3467954956,3641943956,33890500,3675834456
12,1845060881 3937429716 113461133,1845060881,3937429716,113461133,4050890849
13,3718507523 910655741 57371540,3718507523,910655741,57371540,968027281
14,3315526510 3675834456 12651729,3315526510,3675834456,12651729,3688486185
15,2936874590 2031117287 84929853,2936874590,2031117287,84929853,2116047140
16,1710882584 3551710617 90233339,1710882584,3551710617,90233339,3641943956
17,372287565 2365250145 753436341,372287565,2365250145,753436341,3118686486
18,2133326076 968027281 225850782,2133326076,968027281,225850782,1193878063
19,1330811080 1990161103 40956184,1330811080,1990161103,40956184,2031117287
20,1958522014 3493525490 58185127,1958522014,3493525490,58185127,3551710617
21,3021804443 3118686486 293722067,3021804443,3118686486,293722067,3412408553
22,2485489768 1193878063 451384822,2485489768,1193878063,451384822,1645262885
23,3775879063 4235863539 59103757,3775879063,4235863539,59103757,4294967296
24,1371767264 3891384009 2100749,1371767264,3891384009,2100749,3893484758
25,4187899267 2116047140 107068029,4187899267,2116047140,107068029,2223115169

In [140]:
light_temp = pd.read_csv('light_temperature.csv')
prep_df(light_temp)

,map:,dest_start,source_start,range,source_end
0,156743496 2059819668 37694357,156743496,2059819668,37694357,2097514025
1,4058204935 4136802755 38991573,4058204935,4136802755,38991573,4175794328
2,2484168315 1803830764 54458297,2484168315,1803830764,54458297,1858289061
3,2053264847 2531370441 7735546,2053264847,2531370441,7735546,2539105987
4,586814267 2539105987 96956250,586814267,2539105987,96956250,2636062237
5,2538626612 2097514025 117228608,2538626612,2097514025,117228608,2214742633
6,4097196508 3782742182 197770788,4097196508,3782742182,197770788,3980512970
7,1246999413 607900903 25957627,1246999413,607900903,25957627,633858530
8,1877009740 1752361784 30081637,1877009740,1752361784,30081637,1782443421
9,683770517 3121708332 89729874,683770517,3121708332,89729874,3211438206
10,1835387899 343006762 41621841,1835387899,343006762,41621841,384628603
11,1806332066 3242032508 29055833,1806332066,3242032508,29055833,3271088341
12,2212907940 137512351 205494411,2212907940,137512351,205494411,343006762
13,809588378 2954088675 69458905,809588378,2954088675,69458905,3023547580
14,1689902424 3271088341 436818,1689902424,3271088341,436818,3271525159
15,3306521233 894737794 308504080,3306521233,894737794,308504080,1203241874
16,3235066415 3050253514 71454818,3235066415,3050253514,71454818,3121708332
17,1147299995 1960120250 99699418,1147299995,1960120250,99699418,2059819668
18,2046683718 749851354 6581129,2046683718,749851354,6581129,756432483
19,3782742182 4222506720 5456115,3782742182,4222506720,5456115,4227962835
20,2061000393 756432483 138305311,2061000393,756432483,138305311,894737794
21,792839631 591152156 16748747,792839631,591152156,16748747,607900903
22,1478425864 2742612115 211476560,1478425864,2742612115,211476560,2954088675
23,2793367571 2636062237 73608402,2793367571,2636062237,73608402,2709670639
24,2471831801 2214742633 12336514,2471831801,2214742633,12336514,2227079147
25,194437853 1622309324 130052460,194437853,1622309324,130052460,1752361784
26,3901915150 3980512970 156289785,3901915150,3980512970,156289785,4136802755
27,2655855220 0 137512351,2655855220,0,137512351,137512351
28,324490313 1359985370 262323954,324490313,1359985370,262323954,1622309324
29,3855202758 4175794328 46712392,3855202758,4175794328,46712392,4222506720
30,2445108285 1782443421 21387343,2445108285,1782443421,21387343,1803830764
31,2467550357 3211438206 4281444,2467550357,3211438206,4281444,3215719650
32,3788198297 4227962835 67004461,3788198297,4227962835,67004461,4294967296
33,2199305704 2709670639 13602236,2199305704,2709670639,13602236,2723272875
34,1272957040 385683332 205468824,1272957040,385683332,205468824,591152156
35,1690339242 633858530 115992824,1690339242,633858530,115992824,749851354
36,1907091377 2227079147 139592341,1907091377,2227079147,139592341,2366671488
37,0 1203241874 156743496,0,1203241874,156743496,1359985370
38,2866975973 1858289061 24590288,2866975973,1858289061,24590288,1882879349
39,1120987137 3215719650 26312858,1120987137,3215719650,26312858,3242032508
40,2891566261 3271525159 343500154,2891566261,3271525159,343500154,3615025313
41,2466495628 384628603 1054729,2466495628,384628603,1054729,385683332
42,1043746236 1882879349 77240901,1043746236,1882879349,77240901,1960120250
43,879047283 2366671488 164698953,879047283,2366671488,164698953,2531370441
44,773500391 2723272875 19339240,773500391,2723272875,19339240,2742612115
45,2418402351 3023547580 26705934,2418402351,3023547580,26705934,3050253514

In [141]:
temp_humidity = pd.read_csv('temp_humidity.csv')
prep_df(temp_humidity)

,map:,dest_start,source_start,range,source_end
0,159374282 333555332 155635040,159374282,333555332,155635040,489190372
1,2263203984 507165487 202752561,2263203984,507165487,202752561,709918048
2,1337996197 836383358 269347352,1337996197,836383358,269347352,1105730710
3,733930089 139752127 104367475,733930089,139752127,104367475,244119602
4,2840449774 3878218681 416748615,2840449774,3878218681,416748615,4294967296
5,3373626730 3111757526 416998602,3373626730,3111757526,416998602,3528756128
6,3943881399 2795875886 241056063,3943881399,2795875886,241056063,3036931949
7,3790625332 2642619819 153256067,3790625332,2642619819,153256067,2795875886
8,3298801153 3036931949 30341941,3298801153,3036931949,30341941,3067273890
9,1671783850 1980182260 485774285,1671783850,1980182260,485774285,2465956545
10,0 313933177 19622155,0,313933177,19622155,333555332
11,2642619819 3680388726 197829955,2642619819,3680388726,197829955,3878218681
12,2157558135 1398186167 105645849,2157558135,1398186167,105645849,1503832016
13,4283100212 3528756128 11867084,4283100212,3528756128,11867084,3540623212
14,843670838 1503832016 347905328,843670838,1503832016,347905328,1851737344
15,1607343549 244119602 64440301,1607343549,244119602,64440301,308559903
16,315009322 709918048 126465310,315009322,709918048,126465310,836383358
17,441474632 1105730710 292455457,441474632,1105730710,292455457,1398186167
18,3257198389 3540623212 41602764,3257198389,3540623212,41602764,3582225976
19,838297564 308559903 5373274,838297564,308559903,5373274,313933177
20,1320021082 489190372 17975115,1320021082,489190372,17975115,507165487
21,4184937462 3582225976 98162750,4184937462,3582225976,98162750,3680388726
22,1191576166 1851737344 128444916,1191576166,1851737344,128444916,1980182260
23,3329143094 3067273890 44483636,3329143094,3067273890,44483636,3111757526
24,19622155 0 139752127,19622155,0,139752127,139752127

In [142]:
humidity_location = pd.read_csv('humidity_location.csv')
prep_df(humidity_location)

,map:,dest_start,source_start,range,source_end
0,3728200417 3220538748 36833684,3728200417,3220538748,36833684,3257372432
1,1907946842 1065499951 70751518,1907946842,1065499951,70751518,1136251469
2,1978698360 2011387412 298481649,1978698360,2011387412,298481649,2309869061
3,4048923771 3541262102 246043525,4048923771,3541262102,246043525,3787305627
4,1314245652 402299218 396512619,1314245652,402299218,396512619,798811837
5,577039234 798811837 266688114,577039234,798811837,266688114,1065499951
6,3249926596 2795059130 273974120,3249926596,2795059130,273974120,3069033250
7,1734859977 229212353 173086865,1734859977,229212353,173086865,402299218
8,2718652009 3787305627 454867466,2718652009,3787305627,454867466,4242173093
9,1710758271 1405898165 24101706,1710758271,1405898165,24101706,1429999871
10,843727348 1510857580 66114574,843727348,1510857580,66114574,1576972154
11,3765034101 3257372432 283889670,3765034101,3257372432,283889670,3541262102
12,1179488618 1876630378 134757034,1179488618,1876630378,134757034,2011387412
13,909841922 1136251469 269646696,909841922,1136251469,269646696,1405898165
14,3675406214 4242173093 52794203,3675406214,4242173093,52794203,4294967296
15,310070062 1576972154 266969172,310070062,1576972154,266969172,1843941326
16,229212353 1429999871 80857709,229212353,1429999871,80857709,1510857580
17,3523900716 3069033250 151505498,3523900716,3069033250,151505498,3220538748
18,3173519475 2718652009 76407121,3173519475,2718652009,76407121,2795059130
19,2277180009 1843941326 32689052,2277180009,1843941326,32689052,1876630378

In [143]:
seed_list = [3082872446, 316680412, 2769223903, 74043323, 4131958457, 99539464, 109726392, 353536902, 619902767, 648714498, 3762874676, 148318192, 1545670780, 343889780, 4259893555, 6139816, 3980757676, 20172062, 2199623551, 196958359]

In [126]:
seed_list = [79, 14, 55, 13]

In [131]:
def perform_mapping(seed_list,df):
    output_list = []
    for seed_value in seed_list:
        for index, row in df.iterrows():
            if (seed_value >= row['source_start']) and (seed_value <= row['source_end']):
                diff = seed_value - row['source_start']
                output = diff + row['dest_start']
                output_list.append(output)
            else:
                continue
    if output is None:
        output = row['dest_start']
        output_list.append(output)
    return output_list

In [144]:
def perform_mapping(seed_list, df):
    output_list = []
    
    for seed_value in seed_list:
        output = None  # Initialize output before the loop
        for index, row in df.iterrows():
            if (seed_value >= row['source_start']) and (seed_value <= row['source_end']):
                diff = seed_value - row['source_start']
                output = diff + row['dest_start']
                output_list.append(output)
            else:
                continue
        if output is None:
            # If no match is found in the inner loop, use a default value
            output = seed_value
            output_list.append(output)
    
    return output_list

In [145]:
x = perform_mapping(seed_list, seed_soil)
x

[3146600596,
 529355900,
 4276545208,
 2119458269,
 2994950048,
 2144954410,
 2155141338,
 1125137225,
 288739048,
 317550779,
 3856417289,
 2193733138,
 1048901063,
 1115490103,
 3122885146,
 2051554762,
 2843749267,
 2065587008,
 1683059454,
 1397251170]

In [146]:
fertilized = perform_mapping(x, soil_fertilizer)

In [147]:
watered = perform_mapping(fertilized, fertilizer_water)
watered

[1126696133,
 847935002,
 2037385377,
 4064254365,
 1051552636,
 4089750506,
 4099937434,
 102626658,
 3200557925,
 3229369656,
 2161566523,
 4138529234,
 26390496,
 92979536,
 1102980683,
 2469746280,
 900351855,
 2483778526,
 364247862,
 2910921759]

In [148]:
lit = perform_mapping(watered, water_light)
lit

[2291994928,
 1268090341,
 2943142680,
 3341541755,
 2216851431,
 3367037896,
 3377224824,
 102626658,
 3103675882,
 3132487613,
 4233418650,
 2388155463,
 26390496,
 92979536,
 2268279478,
 476783700,
 1320507194,
 490815946,
 364247862,
 917959179]

In [149]:
temped = perform_mapping(lit, light_temp)
temped

[1972007158,
 64848467,
 1678956429,
 2961582857,
 2473940599,
 2987078998,
 2997265926,
 2758481878,
 3288488783,
 694549798,
 3793654112,
 900531258,
 2682245716,
 2748834756,
 1948291708,
 1364057408,
 117265320,
 1378089654,
 1856628999,
 3329742618]

In [150]:
humid = perform_mapping(temped, temp_humidity)

In [151]:
humid

[1311845980,
 84470622,
 1018795251,
 4109588370,
 2473940599,
 4135084511,
 4145271439,
 3906487391,
 3550357987,
 2450588295,
 2755885205,
 1402144097,
 3830251229,
 3896840269,
 1288130530,
 699801330,
 136887475,
 713833576,
 1196467821,
 3591611822]

In [152]:
location = perform_mapping(humid, humidity_location)
location

[1085436433,
 84470622,
 797022648,
 3040934752,
 2473940599,
 3066430893,
 3076617821,
 2837833773,
 4058019656,
 2450588295,
 3210752671,
 1175734550,
 2761597611,
 2828186651,
 1061720983,
 1611747764,
 136887475,
 1625780010,
 970058274,
 4099273491]

In [153]:
min(location)

84470622